name: Action before Merge

on:
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: 'Installing deps'    
      run: npm i -g pnpm && pnpm i
    - name: 'Predeploy' # no need to add test and everything seperately, we ensure everything with predeploy
      run: pnpm predeploy
